<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>    
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title> Zinvoices </title>
  </head>
  <body>
    <header>
     <nav class="navbar {{navColor}} is-fixed-top" role="navigation" aria-label="main navigation">
       {{#if user}}
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="imageColorWhite" alt="zinvoicesLogo" width="112" height="28">
            </a>
            <a class="navbar-item" href="/">Zinvoices</a>
          </div>
         <div class="navbar-menu">
          <div class="navbar-start">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true" href="#">Quotations</span>
            <span aria-hidden="true" href="#">Invoices</span>
            <span aria-hidden="true" href="#">Delivry forms</span>
            <span aria-hidden="true" href="#">Customers</span>
            <span aria-hidden="true" href="#">Products</span>
          </a>
          </div>

         <div class="navbar-end">
           <a class="navbar-item" href="#">Log out</a>
         </div>
       </div>

        {{else}}
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="imageColorturquoise" alt="zinvoicesLogo" width="112" height="28">
            </a>
            <a class="navbar-item" href="login">Zinvoices</a>
          </div>

          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="#">Log in</a>
              <a class="navbar-item" href="#">Sign in</a>
            </div>
          </div>
        {{/if}}
      </nav>
    </header>

    {{{body}}}

  </body>
</html>
